<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>free stuff must share</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <head>
      <script src="https://www.google.com/recaptcha/api.js" async defer></script>
      <script>
        function onSubmit(token) {
          document.getElementById("eventsubmission").submit();
        }
      </script>
    </head>
    <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-N6SCKQEZFQ"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-N6SCKQEZFQ');
</script>
<body>

<h1>free stuff must share </h1></br>

<form action="/submit" method="post" id="eventsubmission">
    <div class="form-control">
        <label for="name">Event name:</label>
        <input type="text" name="name" id="name" size="50" placeholder="Your event name..." required>
    </div>
    </br>
    <fieldset>
        <legend>Location</legend>
        <div class="form-control">
            <label for="location">Venue:</label>
            <input id="location" name="location" type="text" size="50" placeholder="Start typing your event venue..." required>
        </div>
        <div class="form-control">
            <!-- hidden input for Google Place ID -->
            <input type="hidden" id="googlePlaceId" name="googlePlaceId">
        </div>
    </fieldset>
    </br>
    <fieldset>
        <legend>Dates</legend>
        <div class="form-control">
            <label for="start">Start:</label>
            <input type="datetime-local" id="start" name="start" required>
        </div>
        <br>
        <div class="form-control">
            <label for="end">End:</label>
            <input type="datetime-local" id="end" name="end">
            <span id="dateError" style="color: red;"></span>
        </div>
    </fieldset>
    </br>
        <fieldset>
            <legend>Choose the relevant categories:</legend>
                <div class="form-control">
                    <input type="checkbox" id="concerts" name="tags" value="concerts">
                    <label for="concerts">Concerts</label>
                </div>
                <div class="form-control">
                    <input type="checkbox" id="exhibitions" name="tags" value="exhibitions">
                    <label for="exhibitions">Exhibitions</label>
                </div>
                <div class="form-control">
                    <input type="checkbox" id="festivals" name="tags" value="festivals">
                    <label for="festivals">Festivals</label>
                </div>
                <div class="form-control">
                    <input type="checkbox" id="family" name="tags" value="family-friendly">
                    <label for="family">Family-friendly</label>
                </div>
                <div class="form-control">
                    <input type="checkbox" id="popups" name="tags" value="pop-ups">
                    <label for="popups">Pop-ups</label>
                </div>
                <div class="form-control">
                    <input type="checkbox" id="sales" name="tags" value="sales">
                    <label for="sales">Sales</label>
                </div>
            </fieldset>
    </br>
    <button type="submit" class="g-recaptcha" data-sitekey="6LdV6SEpAAAAAKf9GPRfIsyQz3Suix45QVbXcTtB" data-callback="onSubmit">Submit</button>
    
    </form>
    
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAmxDo1bfDzW85IjuiwzbhDyr7Cs1ImeSA&callback=initAutocomplete&libraries=places&v=weekly" async defer></script>
    
    <script>
        document.addEventListener('DOMContentLoaded', function () {
          var autocomplete;
        
          function initAutocomplete() {
            // create autocomplete
            autocomplete = new google.maps.places.Autocomplete(
              document.getElementById('location'), {
                componentRestrictions: { country: 'SG' } // singapore only
              });
        
            // When the user selects an address from the dropdown, handle the selection.
            autocomplete.addListener('place_changed', handlePlaceSelection);
          }
        
          function handlePlaceSelection() {
            var place = autocomplete.getPlace();
            document.getElementById("googlePlaceId").value = place.place_id;
        
            // Log the selected place name and Google Place ID.
            console.log('Selected Place:', place.name);
            console.log('Google Place ID:', place.place_id);
          }
        
          // Initialize autocomplete when the DOM is fully loaded
          initAutocomplete();
        
          // Form validation
          document.getElementById('eventsubmission').addEventListener('submit', function (event) {
            const startDate = new Date(document.getElementById('start').value);
            const endDate = new Date(document.getElementById('end').value);
        
            if (startDate && endDate && endDate <= startDate) {
              // Prevent form submission
              event.preventDefault();
        
              // Display error message
              document.getElementById('dateError').innerText = 'End date must be later than start date.';
            }
          });
        });
    </script>       
</body>
</html>