<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>free stuff must share</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <!--<script src="https://www.google.com/recaptcha/api.js" async defer></script>-->
</head>
<body>

<h1>free stuff must share </h1></br>

<form action="/submit" method="post" id="eventsubmission">
    <div class="form-control">
        <label for="name">Event name:</label>
        <input type="text" name="name" id="name" size="50" placeholder="Your event name..." required>
    </div>
    </br>
    <fieldset>
        <legend>Location</legend>
        <div class="form-control">
            <label for="location">Venue:</label>
            <input id="location" name="location" type="text" size="50" placeholder="Start typing your event venue..." required>
        </div>
        <div class="form-control">
            <!-- hidden input for Google Place ID -->
            <input type="hidden" id="googlePlaceId" name="googlePlaceId">
        </div>
    </fieldset>
    </br>
        <fieldset>
            <legend>Dates</legend>
            <div class="form-control">
                <label for="start">Start:</label>
                <input type="datetime-local" id="start" name="start" required>
            </div>
    </br>
            <div class="form-control">
                <label for="start">End:</label>
                <input type="datetime-local" id="end" name="end" required>
            </div>
        </fieldset>
    </br>
        <fieldset>
            <legend>Choose the relevant categories:</legend>
                <div class="form-control">
                    <input type="checkbox" id="concerts" name="tags" value="concerts">
                    <label for="concerts">Concerts</label>
                </div>
                <div class="form-control">
                    <input type="checkbox" id="exhibitions" name="tags" value="exhibitions">
                    <label for="exhibitions">Exhibitions</label>
                </div>
                <div class="form-control">
                    <input type="checkbox" id="festivals" name="tags" value="festivals">
                    <label for="festivals">Festivals</label>
                </div>
                <div class="form-control">
                    <input type="checkbox" id="family" name="tags" value="family-friendly">
                    <label for="family">Family-friendly</label>
                </div>
                <div class="form-control">
                    <input type="checkbox" id="popups" name="tags" value="pop-ups">
                    <label for="popups">Pop-ups</label>
                </div>
                <div class="form-control">
                    <input type="checkbox" id="sales" name="tags" value="sales">
                    <label for="sales">Sales</label>
                </div>
            </fieldset>
    </br>
    <button type="submit">Submit</button>
    <!--<div class="g-recaptcha" data-sitekey="your_site_key"></div>-->
    </form>
    
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAmxDo1bfDzW85IjuiwzbhDyr7Cs1ImeSA&callback=initAutocomplete&libraries=places&v=weekly" async defer></script>
    
    <script>
        var autocomplete;

function initAutocomplete() {
  // create autocomplete
  autocomplete = new google.maps.places.Autocomplete(
    (document.getElementById('location')), {
        componentRestrictions: { country: 'SG' } // singapore only
    });

  // When the user selects an address from the dropdown, handle the selection.
  autocomplete.addListener('place_changed', handlePlaceSelection);
}

function handlePlaceSelection() {
  var place = autocomplete.getPlace();
  document.getElementById("googlePlaceId").value = place.place_id;

  // Log the selected place name and Google Place ID.
  console.log('Selected Place:', place.name);
  console.log('Google Place ID:', place.place_id);
}
    </script>
           
</body>
</html>